$white: #fff;
$dblue: #0076ff;
$primary-font: "Source Sans Pro", sans-serif;
$success-green: #40dd7f;
$error-red: #ff6262;
$dgrey: #fafafa;
$d91grey: #919eab;
$d49grey: #495968;
$grey: #f0f0f0;
$gray: #d4d4d4;
